body {
    padding: 0;
    margin: 0;
}

.App {
    background-image: linear-gradient(to bottom, rgb(154, 220, 255), rgb(16, 73, 159));
    height: 100vh;
}

.btn1 {
    font-weight: 700;
    padding-inline: 20px;
    padding-block: 10px;
    cursor: pointer;
    border-radius: 10px;
    border-style: none;
    font-size: larger;
    background-color: aliceblue;
}

.btn1:hover {
    background-color: orange;
    transition: 500ms;
}

.gqme {
    width: 70px;
    height: 30px;
    background-color: black;
    display: flex;
    flex-direction: column-reverse;
    gap: 30px;
}

.flex {
    margin-right: 300px;
}

.border {
    border: 7px solid black;
    width: 50vw;
    margin: auto;
    margin-block: 50px;
    height: 70vh;
}

.dragos {
    height: 100%;
    display: flex;
}

#drag-1 {
    background-color: rgb(0, 0, 0);
    padding: 20px;
    border-radius: 50%;
    width: fit-content;
    height: fit-content;
}
#drag-2 {
    background-color: rgb(255, 255, 255);
    padding: 20px;
    border-radius: 50%;
    width: fit-content;
    height: fit-content;
}

.goal {
    background-color: rgb(255, 255, 255);
    font-weight: 700;
    padding: 20px;
    border-radius: 50%;
    width: fit-content;
    display: flex;
    justify-content: flex-end;
}

#myCanvas {
    border: 1px solid black;
}

.wall {
    width: 2%;
    height: 80%;
    background-color: black;
    margin-left: 80px;
}
.wall1 {
    width: 2%;
    height: 80%;
    background-color: black;
    margin-left: 120px;
    margin-top: 80px;
}
.wall2 {
    width: 2%;
    height: 80%;
    background-color: black;
    margin-left: 120px;
}
.wall3 {
    width: 2%;
    height: 80%;
    background-color: black;
    margin-left: 120px;
    margin-top: 80px;
}