body {
    padding: 0;
    margin: 0;
}

.App {
    background-image: linear-gradient(to bottom, rgb(154, 220, 255), rgb(16, 73, 159));
    height: 100vh;
}

.btn1 {
    font-weight: 700;
    padding-inline: 20px;
    padding-block: 10px;
    cursor: pointer;
    border-radius: 10px;
    border-style: none;
    font-size: larger;
    background-color: aliceblue;
}

.btn1:hover {
    background-color: orange;
    transition: 500ms;
}

.border {
    border: 7px solid black;
    width: 50%;
    margin: auto;
    margin-block: 50px;
    height: 70vh;
    display: flex;
}

.border::before {
    content: "";
    display: block;
    width: 3%;
    height: 75%;
    background-color: black;
    position: relative;
    left: 112.5px;
}

.border::after {
    content: "";
    display: block;
    width: 3%;
    height: 75%;
    background-color: black;
    position: relative;
    left: 420px;
    top: 100px;
}

.ball {
    padding: 20px;
    background-color: black;
    border-radius: 50%;
    height: fit-content;
}

.goal {
    padding: 20px;
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
    height: fit-content;
    position: relative;
    left: 81%;
    top: 80%;
}